
:root {
    --body-text-color: #212529;
    --title-main-color: #114B5F;
    --title-second-color: #028090;
    --section-bk-color: #E4FDE1;
    --key-element-color: #F45B69;
    --nav-bk-color: #456990;
    --btn-text-color: #f8f9fa;
}

/* ----- reset ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid gray; */
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body{

    font-size: 1.6rem;
    margin: 0 auto;
    color: var(--body-text-color);
    
}

/* ----- Nav section ----- */

.main {
  font-size: 1.6rem;
  background-color: var(--nav-bk-color);
  display: block;
  padding: 0.5rem;
  display:flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.main__title {
  color: var(--btn-text-color);
  font-family: 'Domine', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  
}

.main-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav__link {
  text-decoration: none;
  color: #f8f9faff;
  padding:2rem;
}
.main-nav__link:last-child {
    padding-right: 0;
}

/* ----- hero ----- */

.hero {
    height: 50rem;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9) ), url("../photo/Asset/hero-bk.jpg");
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero__title{
    font-size: 3rem;
    color: var(--title-main-color);
    padding: 2rem;
    background-color: #f8f9fa94;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

/* ----- sidebar ----- */

.sidebar{
    margin-top: 5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__user {
    display: flex;
    align-items: center;
    width: 70rem;
}

.sidebar__user:hover {
    transform: scale(1.1);
    transition-duration: 200ms;
}

.sidebar__image {
    border-radius: 100%;
}

.sidebar__list {
    margin: 3rem;
}

.sidebar__name {
    text-transform: capitalize;
    color:var(--title-main-color);
    font-weight: 400;
    padding: 1rem 0;
}

.sidebar__comment {
    font-style: italic;
}


/* ----- Features section ----- */

.stack {
    display: flex;
    justify-content: space-between;
    margin: 5rem 3rem;
}

.stack__card {
    max-width: 30rem;
    height: 48rem;
    margin: 1rem;
    padding: 2rem;
    border-radius: 8px;
    color: var(--title-main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--section-bk-color);
}

.stack__card:hover {
    opacity: 100%;
    transform: translate(0, -10px);
    transition-duration: 300ms;
    background-color: var(--title-second-color);
    color: var(--section-bk-color);
}

.stack__card__title {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.stack__card__body {
    padding: 1rem;
    text-align: justify;
    height: 18rem;
}

.stack__card__image {
    width: 150px;
}



/* ----- Footer section -----*/

.footer {
    background-color: var(--nav-bk-color);
    color: var(--btn-text-color);
    background: linear-gradient(222deg, rgba(69,105,144,1) 37%, rgba(29,65,103,0.9962359943977591) 100%);
}

.footer__container {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__title {
    padding: 2rem;
}

.footer__link {
    text-decoration: none;
    color: var(--btn-text-color);
    border: 1px solid var(--btn-text-color);
    padding: 1rem;
    border-radius: 10px;
}
/* ----- btn ----- */

.button{
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    border: 1px solid var(--key-element-color);
    padding: 1rem 2rem;
    width: 18rem;
    border-radius: 4px;
    color: var(--btn-text-color);
    background-color: var(--key-element-color);
    text-align: center;
}

.button--se{
    background-color: var(--section-bk-color);
}

.button:hover {
    transform: translate(0, -5px);
    box-shadow: 3px 3px lightgray;
    transition-duration: 500ms;
}

/* ----- Media query ----- */

@media(max-width:800px) {

    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main__title{
        margin: 2rem 0;
    }

    .main-nav__list {
        flex-direction: column;
    }

    .main-nav__item {
        padding: 2rem 0;
    }
}

@media(max-width:500px) {



    .sidebar__user {
        width: 40rem;
        flex-direction: column;
    }

    .sidebar__name {
        text-align: center;
    }

    .stack {
        flex-direction: column;
    }

    .stack__card {
        max-width: 40rem;
    }
}