
:root {
    --body-text-color: #212529;
    --title-main-color: #114B5F;
    --title-second-color: #028090;
    --section-bk-color: #E4FDE1;
    --key-element-color: #F45B69;
    --nav-bk-color: #456990;
    --btn-text-color: #f8f9fa;
}


/* ----- Nav section ----- */

/* ----- Card section ----- */

.card {
    font-size: 1.6rem;
    display: flex;
    height: 50rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) ), url("../photo/Asset/card-bk.jpg");
}

.card__body {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem 0;
}

.card__title{
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Domine', sans-serif;
    font-weight: 700;
    color: var(--title-main-color);
    text-align: center;
}

.card__action {
    text-align: center;
}

.card__copy {
    padding: 0 5rem;
    text-align: justify;
    line-height: 2rem;
}

.card__figure {
    position: relative;
    min-width: 60%;
}

.card__image {
    max-width: 60%;
    display: block;
    border-radius: 20px;
    position: absolute;
}

.card__image__1 {top: 45%; left: 30%; z-index: 18; }
.card__image__2 {top: 25%; left: 5%; z-index: 15; }
.card__image__3 {top: 15%; left: 35%; z-index: 10; }





.gallery {
    margin: 3rem;
}

.gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery__image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin: 1rem;
    opacity: 90%;
}

.gallery__image:hover {
    opacity: 100%;
}

/* ----- Media query ----- */

@media(max-width:800px) {

    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main__title{
        margin: 2rem 0;
    }

    .main-nav__list {
        flex-direction: column;
    }

    .main-nav__item {
        padding: 2rem 0;
    }
}

@media(max-width:500px) {

    .card {
        flex-direction: column;
        height: 45rem;
    }

    .card__body{
        width: 100%;
        justify-content: space-evenly;
        height: 45rem;

    }

    .card__figure {
        display:none;
    }

    .card__image {
        max-width: 50%;
    }


}